
body{
background-color:white;
}
h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-style:dashed;
    color: blueviolet;
    font-size: 25px;
}

.section-1{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.section-2{
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color:white;
  border-color:orangered;
  gap: 1px;

}
#form-1{
width: 150px;
height: 20px;
color:white;
background-color:orangered;
cursor:pointer;
border:none;
}
.Research{
  margin-top: 20px;
}

#section-2-1:hover{
  border-radius: 10px;
  background-color:orangered;
  border-color:white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.navbar {
  margin-right: -16px;
  
}
.piéces{
  position: relative;
  display: flex;

}
#menu-1{
  position: absolute;
  display: none;
}
#menu-1:hover{
  color: aqua;
  
}

ul {
    list-style-type: none;
    margin-bottom: 0px;
    overflow: hidden;
    background-color:orangered;
    text-decoration:none;
}
  
li {
    float: left;
  }
  li a {
    display:flex;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration:none;
    
  }
   li a:hover {
    background-color: #3ab889;
  }
  .box-1 {
    display: flex;
    background-color: grey;
    height: 300px;
    width: 1350px; 
    margin-top:0;
    justify-content: space-around;
  }
  .box1-1{ 
    display: flex;
    width: 200px; 
    height: 300px;
    background-color:lime;
 }
   #h-2{
  padding-top: 50px;
  color:#fff;
  font-size: 20px;
   }
  .box-2 {
    display: flex;
    width: 200px; 
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:orangered;
  }
  .box-1-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

.box-3 {
  display: flex;
  width: 200px; 
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:orangered;
  }
  
.box-4 {
  display: flex;
  width: 200px; 
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:orangered;

}
.main-1{
  display: flex;
  justify-content: center;
  color: blueviolet;
 font-size: 20px;
}
#main-1-p:hover{
  color: orangered;
  
}
.main-2{
  display: flex;
  justify-content: center;
}
#picture{
display: flex;
justify-content: center;
}
.section-4{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: blueviolet;
  
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.section-5{
  display: flex;
  justify-content:space-around;

}
.formulaire {
  display:flex;
  justify-content:space-between;
  padding-top: 90px; ;
  padding-left: 130px;
}
.area{
  display: flex;
  justify-content:center;
  margin-top: -120px;
  margin-right: -80px;
  
} 

.boite{
  color: blue;
  text-align:center;
  text-decoration: dashed;
}
.section-6{
  display: flex;
  justify-content: space-around;
  gap: 7px;
}
.container-1{
  background-color:violet;
  padding: 20px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  
}
.container-2{
  background-color:violet;
  padding: 20px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
}
#product1 {
  text-align: center;

}
#product1 .pro-container{
  display:flex;
  justify-content: space-between;
  padding-top: 28px;
}
#product1 .pro{
  width:23%;
  min-width:250px;
  padding:10px 12px;
  border:1px solid #cce7db;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0,0,0,0.02);
  margin:15px 0;
}
#product1 .pro img{
  width:100%;
  border-radius:20px;

}
.pro-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-left: 20px;
  margin-right: 20px;
} 

 #Qte{
  
  width: 60px;
  height: 30px;
  cursor: pointer;
  padding-bottom: 10px;
}

#panier{
  width: 120px;
  height: 30px;
  cursor: pointer;
  padding-bottom: 5px;

}
#panier:hover{
  color: #fff;
  background-color: orangered;
}
 #counter-label {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
@media screen and (max-width:576px){
  .box-1-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  #product1 .pro-container {
    display: flex;
    justify-content: center;
    padding-top: 28px;
}
.main-1 {
  display: flex;
  justify-content: center;
  color: blueviolet;
  font-size: 15px;
}
.main-2 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}
#picture {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
}

