
body{
background-color:white;
}
h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-style:dashed;
    color: blueviolet;
    font-size: 25px;
}

.section-1{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.section-2{
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color:white;
  border-color:orangered;
  gap: 3px;

}
#form-1{
width: 150px;
height: 20px;
color:white;
background-color:orangered;
cursor:pointer;
border:none;
}
.Research{
  margin-top: 20px;
}

#section-2-1:hover{
  border-radius: 10px;
  background-color:orangered;
  border-color:white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.nav {
  position: relative;
  margin-right: -16px;
}
#menu-1 {
  position: absolute;
  display: none;
}
#menu-1:hover{
  color: aqua;
}

ul {
    list-style-type: none;
    margin-bottom: 0px;
    overflow: hidden;
    background-color:orangered;
    text-decoration:none;
}
  
li {
    float: left;
  }
  li a {
    display:flex;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration:none;
    
  }
   li a:hover {
    background-color: #3ab889;
  }
  .box-1 {
    display: flex;
    background-color: grey;
    height: 300px;
    width: 1350px; 
    margin-top:0;
    justify-content: space-around;
  }
  .box1-1{ 
    display: flex;
    width: 200px; 
    height: 300px;
    background-color:lime;
 }
   #h-2{
  padding-top: 50px;
  color:#fff;
  font-size: 20px;
   }
  .box-2 {
    display: flex;
    width: 200px; 
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:orangered;
  }
 
  .box-1-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
 
.box-3 {
  display: flex;
  width: 200px; 
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:orangered;
  }
  
.box-4 {
  display: flex;
  width: 200px; 
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:orangered;

}
.main-1{
  display: flex;
  justify-content: center;
  color: blueviolet;
 font-size: 20px;
}
#main-1-p:hover{
  color: orangered;
  
}
.main-2{
  display: flex;
  justify-content: center;
}
#picture{
display: flex;
justify-content: center;
}
.section-4{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: blueviolet;
  
}

.section-5{
  display: flex;
  justify-content:space-around;

}
.formulaire {
  display:flex;
  justify-content:space-between;
  padding-top: 90px; ;
  padding-left: 130px;
  
}
.form-1{
  width: 100px;
}
#name-1{
  width: 300px;
  height: 20px;
  border-radius: 8px;
  border-color:orangered;
}
#name-2{
  width: 300px;
  height: 20px;
  border-radius: 8px;
  border-color:orangered;
}
#name-3{
  width: 300px;
  height: 20px;
  border-radius: 8px;
  border-color:orangered;
}
#name-4{
  width: 300px;
  height: 20px;
  border-radius: 5px;
  border-color:orangered;
}
.area{
  padding-top: 20px;
  padding-right: 60px;
  border-radius: 5px;
  border-color:orangered;
}
#area-1{
  border-radius: 5px;
  border-color:orangered;
}

#click{
  font-size: medium;
  font-weight:bold;
  color:white;
  width: 100px;
  height: 40px;
  background-color: darkorange;
  border:none;
  cursor: pointer;
}
#click:hover{
  color:blueviolet
}

.boite{
  background-color: aqua;
  color: blue;
  text-align:center;
  text-decoration: dashed;
  border-radius: 5px;
}
.section-6{
  display: flex;
  justify-content: space-around;
  gap: 7px;
}
.container-1{
  background-color:violet;
  padding: 20px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  
}
.container-2{
  background-color:violet;
  padding: 20px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
}
#product1 {
  text-align: center;

}
#product1 .pro-container{
  display:flex;
  justify-content: space-between;
  padding-top: 28px;
}
#product1 .pro{
  width:23%;
  min-width:250px;
  padding:10px 12px;
  border:1px solid #cce7db;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0,0,0,0.02);
  margin:15px 0;
}
#product1 .pro img{
  width:100%;
  border-radius:20px;

}
.pro-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-left: 20px;
  margin-right: 20px;
} 

#panier{
  width: 120px;
  height: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 7px;
  border-color:orangered;
}
#panier:hover{
  color: #fff;
  background-color: orangered;
}
 #counter-label {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Saira+Condensed&display=swap');
/* body {
  background-image: url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1549&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px -200px;
} */
/* h1 {
  font-family: Saira Condensed;
  font-size: 70px;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #b2dfdb, #000, #000);
} */
/* .container {
  position: absolute;
  top: 180px;
  width: 90%;
  margin-left: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(20px);
  font-family: Saira Condensed;
  font-size: 24px;
} */

.btn-cont {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  height: 40px;
  background: transparent;
  border: 0.2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(43, 42, 42, 0.5);
  margin-top: 20px;
  border-radius: 40px;
  margin-right: 20px;
  align-items: center;
  transform: translate(70px, -50%);
}
.btn-cont button {
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  background: #dbdbdb;
  color: #fff;
  font-size: 27px;
}

table {
  margin: 20px 0px;
  width: 100%;
}

td {
  height: 100px;
  text-align: center;

  width: 200px;
  border-top: 1px solid #d2d8ccbd;
}
/* img {
  width: 200px;
  height: 170px;
} */
.minus:hover {
  background-color: #ef5350;
  cursor: pointer;
}
.plus:hover {
  background-color: #66bb6a;
  cursor: pointer;
}
.del button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: large;
  color: #424242;
}
.delete:hover {
  color: #b71c1c;
}

@media screen and (max-width:576px){
  .box-1-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  #product1 .pro-container {
    display: flex;
    justify-content: center;
    padding-top: 28px;
}
.main-1 {
  display: flex;
  justify-content: center;
  color: blueviolet;
  font-size: 15px;
}
.main-2 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}
#picture {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
}

